In [17]:
%load_ext autoreload
%autoreload complete

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from matplotlib_inline.backend_inline import set_matplotlib_formats
from tqdm.notebook import tqdm

set_matplotlib_formats("svg")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
from src.paths import external_data

path = external_data / "ids-dereko"
df = pd.read_csv(path / "corpora/corpora.csv", sep=";")
df

,Corpus,Sigle,Titel,von_,bis_,von,bis,Lizenz,Stadt,Region,National,Leitmedium
0,W1,bmp,Berliner Morgenpost,NaN,NaN,1997,2022,NaN,Berlin,BE,NaN,NaN
1,W1,brz,Braunschweiger Zeitung,NaN,NaN,2005,2013,NaN,Braunschweig,NI,NaN,NaN
2,W1,bvz,Burgenländische Volkszeitung,NaN,NaN,2007,2015,NaN,St. Pölten,B,NaN,NaN
3,W1,bzt-pub,Berliner Zeitung,NaN,NaN,2009,2022,NaN,Berlin,BE,NaN,NaN
4,W1,dpr,Die Presse,NaN,NaN,1991,2022,NaN,NaN,NaN,AT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
174,W4,wiz,Wiener Zeitung,NaN,NaN,2000,2022,NaN,NaN,NaN,AT,NaN
175,W4,wku,Wiesbadener Kurier,NaN,NaN,2000,2022,NaN,Wiesbaden,HE,NaN,NaN
176,W4,wtb,Wiesbadener Tagblatt,NaN,NaN,2002,2019,NaN,Wiesbaden,HE,NaN,NaN
177,W4,wbl,WirtschaftsBlatt,NaN,NaN,2000,2016,NaN,NaN,NaN,AT,NaN
178,W4,wor,Wormser Zeitung,NaN,NaN,2002,2022,NaN,Worms,RP,NaN,NaN

In [19]:
print(len(df))
df = df[df["bis"] == 2022]
print(len(df))
df = df[~df["Region"].isin(["AT", "CH"]) & ~df["National"].isin(["AT", "CH"])]
print(len(df))
print(len(df[df["National"] == "DE"]))
print(len(df[~df["Region"].isna()]))

179
154
121
15
106

In [20]:
df["Region"].value_counts()

BY    17
HE    17
NW    16
BW    13
NI     7
RP     6
SN     6
BB     5
BE     4
TH     4
HH     3
MV     3
ST     2
SH     2
SL     1
Name: Region, dtype: int64